# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized. In addition, this notebook corresponds to the final assigment of the course.

**Objectives:**

- Python.
- R.
- SQL.
- Julia.

Some of the popular languages that Data Scientists use are:

1. Python.
2. R.
3. SQL (Structured Query Language).
4. Julia.

Some of the commonly used libraries used by Data Scientists include:

1. NumPy (Numerical Python).
2. Pandas.
3. Scikit-learn.

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| VS Code            |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Oscar Enrique Hurtado Aular.